/*
* Custom Stylesheet 
* Copyright 2019, Varun D
* www.thisnameless.com
*/

/* Main Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body {
	/* color: #181830; */
	font-family: 'Merriweather Sans', sans-serif;
	color: #FEF9F0;
	letter-spacing: 0.03em;
	background: black;
}

h1,h2,h3,h4,h5 {
	font-family: 'Old Standard TT', serif;
}

canvas {
	width: 100%;
    height: 100%;
    display: block;
	z-index: 0;
    position: absolute;
    top: 0;
}

.container-above {
	z-index: 1;
	/* display: none; */
}

header {
  margin-top: 20%;
}

header img {
	width: 70%;
}

a {
	text-decoration: none;
	color: #b79db7;
}

a:hover {
	color: #684781;
}